/*
Author: Jaspal Singh
Date: 18/10/2023
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div,img,ul {
    margin: 0;
    padding:0;
    border: 0;
} 
/*Styles rules for body and images*/
body{
    background-color: #ccc;
}
img{
    max-width: 100%;
    display: block;
}
.img-width{
      width: 100%;
}
img{
    width: 100%;
}
/*Styles rules for mobile viewport*/
/*Styles rules for header*/
header {
    width: 20%;
}

/* header {
    margin: 0;
} */

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ccc;
    height: 190px;
}

.logo {
    width: 100%;
}

/*Styles rules for navigation area*/
nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li{
    display: inline-block;
    font-size: 1.25em;
    font-family: Verdana,Arial, sans-serif;
    border-top: 1px solid #fff;
}
nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration:none;
}
/* show mobile class,hide tablte-esktop class*/
.mobile {
    display: block;
}
.tablet-desktop{
    display: none;
}
/*Styles rules for main content*/
main{
    clear: right;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}
.tel-link {
    background-color: #fff;
    /* padding: 2%; */
    /* margin: 0 auto; */
    /* width: 80%; */
    /* text-align: center; */
    border-radius: 5px;
}
.tel-link a {
    /* color: #fff; */
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}
.hours{
    margin-left: 10%;
}
.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}
#Grooming, #Adoption, #Training {
    width: 29%;
    float: left;
    margin: 0 2%;
}

.media-gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.media-item {
    width: 60%;
    height: 40%;
    margin: 20px;
    object-fit: cover;
}

#Services {
    clear: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1% 2%;
}
#Services dt {
 font-weight: bold;
}

#Services dd{
    padding: 0.5% 1% 2% 0;
}
#Contact {
    text-align: center;
}

#Contact a {
    color: #666600;
    text-decoration: none;
}
.map {
    border: 8px solid #000;
}
/*Styles rules for footer content*/
footer p{
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}
footer p a {
    color: #fff;
    text-decoration: none;
}